/*!
 * Bootstrap Grid v5.0.2 (https://getbootstrap.com/)
 * Copyright 2011-2021 The Bootstrap Authors
 * Copyright 2011-2021 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/main/LICENSE)
 */
.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
    width: 100%;
    padding-right: 12px;
    padding-right: 0.75rem;
    padding-left: 12px;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {

    .container-sm, .container {
        max-width: 540px;
    }
}

@media (min-width: 769px) {

    .container-md, .container-sm, .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {

    .container-lg, .container-md, .container-sm, .container {
        max-width: 960px;
    }
}

@media (min-width: 1220px) {

    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1184px;
    }
}



.row {
    --bs-gutter-x: 24px;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}

.row > * {
    box-sizing: border-box;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

.col {
    -ms-flex: 1 0 0%;
        flex: 1 0 0%;
}

.row-cols-auto > * {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    width: auto;
}

.row-cols-1 > * {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    width: 100%;
}

.row-cols-2 > * {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    width: 50%;
}

.row-cols-3 > * {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    width: 33.3333333333%;
}

.row-cols-4 > * {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    width: 25%;
}

.row-cols-5 > * {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    width: 20%;
}

.row-cols-6 > * {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    width: 16.6666666667%;
}

@media (min-width: 576px) {
    .col-sm {
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
    }

    .row-cols-sm-auto > * {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: auto;
    }

    .row-cols-sm-1 > * {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 100%;
    }

    .row-cols-sm-2 > * {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 50%;
    }

    .row-cols-sm-3 > * {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 33.3333333333%;
    }

    .row-cols-sm-4 > * {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 25%;
    }

    .row-cols-sm-5 > * {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 20%;
    }

    .row-cols-sm-6 > * {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 16.6666666667%;
    }
}

@media (min-width: 768px) {
    .col-md {
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
    }

    .row-cols-md-auto > * {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: auto;
    }

    .row-cols-md-1 > * {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 100%;
    }

    .row-cols-md-2 > * {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 50%;
    }

    .row-cols-md-3 > * {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 33.3333333333%;
    }

    .row-cols-md-4 > * {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 25%;
    }

    .row-cols-md-5 > * {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 20%;
    }

    .row-cols-md-6 > * {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 16.6666666667%;
    }
}

@media (min-width: 992px) {
    .col-lg {
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
    }

    .row-cols-lg-auto > * {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: auto;
    }

    .row-cols-lg-1 > * {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 100%;
    }

    .row-cols-lg-2 > * {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 50%;
    }

    .row-cols-lg-3 > * {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 33.3333333333%;
    }

    .row-cols-lg-4 > * {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 25%;
    }

    .row-cols-lg-5 > * {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 20%;
    }

    .row-cols-lg-6 > * {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 16.6666666667%;
    }
}

@media (min-width: 1200px) {
    .col-xl {
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
    }

    .row-cols-xl-auto > * {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: auto;
    }

    .row-cols-xl-1 > * {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 100%;
    }

    .row-cols-xl-2 > * {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 50%;
    }

    .row-cols-xl-3 > * {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 33.3333333333%;
    }

    .row-cols-xl-4 > * {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 25%;
    }

    .row-cols-xl-5 > * {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 20%;
    }

    .row-cols-xl-6 > * {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 16.6666666667%;
    }
}
.col-auto {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    width: auto;
}

.col-1 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    width: 8.33333333%;
}

.col-2 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    width: 16.66666667%;
}

.col-3 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    width: 25%;
}

.col-4 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    width: 33.33333333%;
}

.col-5 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    width: 41.66666667%;
}

.col-6 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    width: 50%;
}

.col-7 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    width: 58.33333333%;
}

.col-8 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    width: 66.66666667%;
}

.col-9 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    width: 75%;
}

.col-10 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    width: 83.33333333%;
}

.col-11 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    width: 91.66666667%;
}

.col-12 {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    width: 100%;
}

@media (min-width: 576px) {
    .col-sm-auto {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: auto;
    }

    .col-sm-1 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 8.33333333%;
    }

    .col-sm-2 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 16.66666667%;
    }

    .col-sm-3 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 25%;
    }

    .col-sm-4 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-sm-5 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 41.66666667%;
    }

    .col-sm-6 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 50%;
    }

    .col-sm-7 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-sm-8 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 66.66666667%;
    }

    .col-sm-9 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 75%;
    }

    .col-sm-10 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 83.33333333%;
    }

    .col-sm-11 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 91.66666667%;
    }

    .col-sm-12 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 100%;
    }
}

@media (min-width: 769px) {
    .col-md-auto {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: auto;
    }

    .col-md-1 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 8.33333333%;
    }

    .col-md-2 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 16.66666667%;
    }

    .col-md-3 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 25%;
    }

    .col-md-4 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-md-5 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 41.66666667%;
    }

    .col-md-6 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 50%;
    }

    .col-md-7 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-md-8 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 66.66666667%;
    }

    .col-md-9 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 75%;
    }

    .col-md-10 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 83.33333333%;
    }

    .col-md-11 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 91.66666667%;
    }

    .col-md-12 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 100%;
    }
}

@media (min-width: 992px) {
    .col-lg-auto {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: auto;
    }

    .col-lg-1 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 8.33333333%;
    }

    .col-lg-2 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 16.66666667%;
    }

    .col-lg-3 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 25%;
    }

    .col-lg-4 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-lg-5 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 41.66666667%;
    }

    .col-lg-6 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 50%;
    }

    .col-lg-7 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-lg-8 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 66.66666667%;
    }

    .col-lg-9 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 75%;
    }

    .col-lg-10 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 83.33333333%;
    }

    .col-lg-11 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 91.66666667%;
    }

    .col-lg-12 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 100%;
    }

}

@media (min-width: 1200px) {
    .col-xl-auto {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: auto;
    }

    .col-xl-1 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 8.33333333%;
    }

    .col-xl-2 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 16.66666667%;
    }

    .col-xl-3 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 25%;
    }

    .col-xl-4 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-xl-5 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 41.66666667%;
    }

    .col-xl-6 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 50%;
    }

    .col-xl-7 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-xl-8 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 66.66666667%;
    }

    .col-xl-9 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 75%;
    }

    .col-xl-10 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 83.33333333%;
    }

    .col-xl-11 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 91.66666667%;
    }

    .col-xl-12 {
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        width: 100%;
    }
}


.d-inline {
    display: inline !important;
}

.d-inline-block {
    display: inline-block !important;
}

.d-block {
    display: block !important;
}

.d-grid {
    display: -ms-grid !important;
    display: grid !important;
}

.d-table {
    display: table !important;
}

.d-table-row {
    display: table-row !important;
}

.d-table-cell {
    display: table-cell !important;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.d-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
}

.d-none {
    display: none !important;
}

.flex-fill {
    -ms-flex: 1 1 auto !important;
        flex: 1 1 auto !important;
}

.flex-row {
    -ms-flex-direction: row !important;
        flex-direction: row !important;
}

.flex-column {
    -ms-flex-direction: column !important;
        flex-direction: column !important;
}

.flex-row-reverse {
    -ms-flex-direction: row-reverse !important;
        flex-direction: row-reverse !important;
}

.flex-column-reverse {
    -ms-flex-direction: column-reverse !important;
        flex-direction: column-reverse !important;
}

.flex-grow-0 {
    -ms-flex-positive: 0 !important;
        flex-grow: 0 !important;
}

.flex-grow-1 {
    -ms-flex-positive: 1 !important;
        flex-grow: 1 !important;
}

.flex-shrink-0 {
    -ms-flex-negative: 0 !important;
        flex-shrink: 0 !important;
}

.flex-shrink-1 {
    -ms-flex-negative: 1 !important;
        flex-shrink: 1 !important;
}

.flex-wrap {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
}

.flex-nowrap {
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
        flex-wrap: wrap-reverse !important;
}

.justify-content-start {
    -ms-flex-pack: start !important;
        justify-content: flex-start !important;
}

.justify-content-end {
    -ms-flex-pack: end !important;
        justify-content: flex-end !important;
}

.justify-content-center {
    -ms-flex-pack: center !important;
        justify-content: center !important;
}

.justify-content-between {
    -ms-flex-pack: justify !important;
        justify-content: space-between !important;
}

.justify-content-around {
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
}

.justify-content-evenly {
    -ms-flex-pack: space-evenly !important;
        justify-content: space-evenly !important;
}

.align-items-start {
    -ms-flex-align: start !important;
        align-items: flex-start !important;
}

.align-items-end {
    -ms-flex-align: end !important;
        align-items: flex-end !important;
}

.align-items-center {
    -ms-flex-align: center !important;
        align-items: center !important;
}

.align-items-baseline {
    -ms-flex-align: baseline !important;
        align-items: baseline !important;
}

.align-items-stretch {
    -ms-flex-align: stretch !important;
        align-items: stretch !important;
}

.align-content-start {
    -ms-flex-line-pack: start !important;
        align-content: flex-start !important;
}

.align-content-end {
    -ms-flex-line-pack: end !important;
        align-content: flex-end !important;
}

.align-content-center {
    -ms-flex-line-pack: center !important;
        align-content: center !important;
}

.align-content-between {
    -ms-flex-line-pack: justify !important;
        align-content: space-between !important;
}

.align-content-around {
    -ms-flex-line-pack: distribute !important;
        align-content: space-around !important;
}

.align-content-stretch {
    -ms-flex-line-pack: stretch !important;
        align-content: stretch !important;
}

.align-self-auto {
    -ms-flex-item-align: auto !important;
        -ms-grid-row-align: auto !important;
        align-self: auto !important;
}

.align-self-start {
    -ms-flex-item-align: start !important;
        align-self: flex-start !important;
}

.align-self-end {
    -ms-flex-item-align: end !important;
        align-self: flex-end !important;
}

.align-self-center {
    -ms-flex-item-align: center !important;
        -ms-grid-row-align: center !important;
        align-self: center !important;
}

.align-self-baseline {
    -ms-flex-item-align: baseline !important;
        align-self: baseline !important;
}

.align-self-stretch {
    -ms-flex-item-align: stretch !important;
        -ms-grid-row-align: stretch !important;
        align-self: stretch !important;
}
@font-face {
    font-family: 'custom-icons';
    src: url('../fonts/custom-icons.eot?1677595421586');
    src: url('../fonts/custom-icons.eot?#iefix-1677595421586') format('embedded-opentype'), url('../fonts/custom-icons.woff2?1677595421586') format('woff2'), url('../fonts/custom-icons.woff?1677595421586') format('woff'), url('../fonts/custom-icons.ttf?1677595421586') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[class^='icon-']:before, [class*=' icon-']:before {
    font-family: 'custom-icons' !important;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    font-size: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/*
Glyphs list
*/

.icon-close:before {
        content: '\ea01' !important;
    }
    .icon-copy:before {
        content: '\ea02' !important;
    }
    .icon-facebook:before {
        content: '\ea03' !important;
    }
    .icon-gift:before {
        content: '\ea04' !important;
    }
    .icon-instagram:before {
        content: '\ea05' !important;
    }
    .icon-telegram:before {
        content: '\ea06' !important;
    }
    .icon-website:before {
        content: '\ea07' !important;
    }
    
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
img { box-sizing: content-box; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
a{
    text-decoration: none;
}
* {
	outline: 0 none;
}
body {
    padding-top: 60px;
	line-height: 1.2;
	background: linear-gradient(141.47deg, #6667AB 0%, #BB2850 100%);
	font-family:'Montserrat', sans-serif;
	color: #1D222D;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.vc_row-o-content-middle > .vc_column_container { 
    max-width: 984px;
    margin-right: auto;
    margin-left: auto;
}
.home footer{ background-color: transparent !important; }
.wpb_text_column, .wpb_button, .wpb_gallery, .wpb_single_image, ul.wpb_thumbnails-fluid > li{
    margin-bottom: 0 !important;
}
@media (max-width:767px) {
    .vc_row-o-content-middle > .vc_column_container{
        max-width: 100%;
    }
}

@media (min-width:768px) and (max-width:1024px) {
    .vc_row-o-content-middle > .vc_column_container{
        max-width: 740px;
    }
}
section > .wpb_row > .wpb_column > .vc_column-inner{
    margin-left: -12px;
    margin-right: -12px;
}
@font-face {
    font-family: 'AustinCyr';
    src: url('../fonts/AustinCyr-Bold/AustinCyr-Bold.eot');
    src: url('../fonts/AustinCyr-Bold/AustinCyr-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AustinCyr-Bold/AustinCyr-Bold.woff') format('woff'),
         url('../fonts/AustinCyr-Bold/AustinCyr-Bold.ttf') format('truetype'),
         url('../fonts/AustinCyr-Bold/AustinCyr-Bold.svg#FontName') format('svg');
    font-style: normal;
    font-weight: normal;
}
header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}
header .container-xl{
    border-radius: 0px 0px 30px 30px;
    background: #fff;
    padding: 20px 30px;
}
header .logo-img{
    transition: all 0.3s ease
}
header .logo-img:hover{
    opacity: 0.6;
}
header .soc{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 15px;
}
header .soc li:before{
    font-size: 20px;
}
header .soc li{
    color: #6667AB;
    position: relative;
    transition: all 0.3s ease;
}
header .soc li a{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 0 !important;
}
header .soc li:hover{
    opacity: 0.6;
}
section{
    padding-top: 60px;
}
section h1{
    font-weight: 700;
    font-size: 60px;
    color: #fff;
    margin-bottom: 30px;
    font-family: 'AustinCyr';
    line-height: 1.2;
}
section .product{
    display: none;
    background: #fff;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    margin: 194px 0 120px;
}
section .product .icon-close:before{
    color:rgba(0, 0, 0, .25);
}
section .product .ajax-content{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-align: center;
        align-items: center;
}
section .product .ajax-content .promo-code{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-align: center;
        align-items: center;
    gap: 15px;
}
section .product .ajax-content .promo-code .link-up{
    background: #F6E81F;
    height: 54px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #000;
    border-radius: 50px;
    margin: 0;
    padding: 0 30px;
    transition: all 0.3s ease
}
section .product .ajax-content .promo-code .link-up:hover{
    background:rgba(246, 232, 31, .6);
}
section .product .ajax-content .promo-code p{
    background: #F6E81F;
    height: 54px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #000;
    border-radius: 50px;
    margin: 0;
    padding: 0 30px;
}
section .product .ajax-content .icon-copy{
    font-size: 24px;
    color: rgba(0, 0, 0, .25);
    transition: all 0.3s ease
}
section .product .ajax-content .icon-copy:hover{
    opacity: 0.6;
}
section .product .icon-close{
    position: absolute;
    top: 22px;
    right: 25px;
    transition: all 0.3s ease
}
section .product .icon-close:hover{
    opacity: 0.6;
}
section .product .right-block{
    padding: 40px 70px 40px 40px;
}
section .product .left-block{
    height: 100%;
}
section .product .left-block img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}
section .product .right-block, section .product .left-block{
    width: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
}
section .product h2{
    font-weight: 700;
    font-size: 60px;
    line-height: 1.2;
    color: #000;
    margin-bottom: 30px;
    font-family: 'AustinCyr';
}
section .product p{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #000;
    margin-bottom: 60px;
}
section .product.open{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
section img{
    max-width: 100%;
}
section p{
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    font-family: 'Montserrat',sans-serif;
    line-height: 1.5;
    margin-bottom: 60px;
}
section .button{
    background: #F6E81F;
    max-width: 262px;
    height: 54px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #000;
    border-radius: 50px;
    transition: all 0.3s ease
}
section .button:hover{
    background:rgba(246, 232, 31, .6);
}
section .items{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 154px 0 120px;
}
section .items .item{
    margin-top: 40px;
}
section .items .item a{
    width: 160px;
    height: 160px;
    background: #fff;
    border-radius: 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    position: relative;
    transition: all 0.3s ease;
}
section .items .item a i{}
section .items .item a i:before{
    font-size: 84px;
    background: linear-gradient(131.61deg, #6667AB 0%, #BB2850 100.14%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
section .items .item a:hover{
    opacity: 0.6;
}
section .items .item:not(:nth-of-type(6n)){
    margin-right: 40px;
}
section .items.hide{
    display: none;
}
footer{
    padding-bottom: 60px;
}
footer .copyright{
    max-width: 760px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    font-family: 'Montserrat',sans-serif;
    text-align: center;
}
footer .copyright a{
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    font-family: 'Montserrat',sans-serif;
    transition: all 0.3s ease
}
footer .copyright a:hover{
    opacity: 0.6;
}
footer .soc{
    display: none;
}

@media only screen and (max-width: 1600px) {
    section .product, section .items{
        margin-top: 120px;
    }
}
@media only screen and (max-width: 1219px) {
    .container-xl{
        max-width: calc(100% - 82px);
    }
    section .items{
        -ms-flex-pack: justify;
            justify-content: space-between;
    }
    section .items .item{
        margin-top: 20px;
        width: calc((100% - 100px) / 6);
    }
    section .items .item a{
        width: 100%;
        height: calc((100vw - 206px) / 6);
    }
    section .items .item a i{}
    section .items .item a i:before {
        font-size: 7.227vw;
    }
    section .items .item:not(:nth-of-type(6n)) {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 1024px) {
    section .product, section .items{
        margin-top: 152px;
    }
}
@media only screen and (max-width: 1023px) {
    section h1{
        font-size: 5.202vw;
    }
    section p{
        font-size: 1.951vw;
    }
    section .product h2 {
        font-size: 5.202vw;
    }
    section .product p{
        font-size: 1.951vw;
    }
    section .product .right-block{
        padding: 40px;
    }
}

@media only screen and (max-width: 768px) {
    section{
        padding-top: 30px;
    }
    section .col-xl-7 {
        -ms-flex-order: -1;
            order: -1;
    }
    section h1{
        margin-top: 30px;
        font-size: 7.813vw;
        text-align: center;
    }
    section p{
        text-align: center;
        font-size: 2.604vw;
    }
    section .button{
        margin: 0 auto;
    }
    section .product{
        margin-top: 120px;
    }
    section .items{
        margin-top: 100px;
    }
    section .items .item{
        width: calc((100% - 40px) / 3);
    }
    section .items .item a{
        height: calc((100vw - 108px) / 3);
    }
    section .items .item a i{}
    section .items .item a i:before {
        font-size: 15.104vw;
    }
    section .items .item:nth-of-type(3n) {
        margin-right: 0;
    }
    section .product .icon-close{
        width: 40px;
        height: 40px;
        background: #fff;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-align: center;
            align-items: center;
        border-radius: 50%;
        -ms-flex-pack: center;
            justify-content: center;
    }
    section .product .ajax-content .promo-code{
        -ms-flex-pack: center;
            justify-content: center;
    }
    section .product h2{
        font-size: 7.813vw;
        text-align: center;
    }
    section .product h2 br{}
    section .product h2 br:last-of-type {
        display: none;
    }
    section .product p{
        text-align: center;
        font-size: 2.604vw;
    }
    section .product .left-block{
        height: auto;
    }
    section .product .left-block img{
        height: 90vw;
    }
    section .product .left-block, section .product .right-block{
        width: 100%;
    }
    header .container-xl{
        max-width: 100%;
    }
    section .container-xl{
        max-width: calc(100% - 44px);
    }
}

@media only screen and (max-width: 480px) {
    header .logo-img{
        margin: 0 auto;
        display: -ms-flexbox;
        display: flex;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
    }
    header .row .col-auto:last-of-type {
        display: none;
    }
    header .row .col-auto{}
    header .row .col-auto:first-of-type {
        width: 100%;
    }
    footer .soc{
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
            flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        gap: 15px;
        -ms-flex-pack: center;
            justify-content: center;
        margin-bottom: 30px;
    }
    footer .soc li:before {
        font-size: 40px;
    }
    footer .soc li{
        color: #fff;
        position: relative;
        transition: all 0.3s ease;
    }
    footer .soc li a{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        font-size: 0 !important;
    }
    footer .soc li:hover {
        opacity: 0.6;
    }
    footer .copyright{
        font-size: 15px;
    }
    footer .copyright a{
        font-size: 15px;
    }
    section h1{
        font-size: 9.375vw;
    }
    section p{
        font-size: 3.125vw;
    }
    section .product .ajax-content .promo-code p{
        font-size: 15px;
    }
    section .product h2{
        font-size: 9.375vw;
    }
    section .product p{
        font-size: 3.125vw;
    }
    section .items .item{
        width: calc((100% - 40px) / 3);
    }
    section .items .item a{
        height: calc((100vw - 122px) / 3);
    }
    section .items .item a i{}
    section .items .item a i:before {
        font-size: 12.227vw;
    }
    section .col-12{
        padding-left: 0;
        padding-right: 0;
    }
    section .col-xl-7 {
        width: 100vw;
        max-width: 100vw;
        padding: 0 40px;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
    }
}
@media only screen and (max-width: 419px) {
    footer .container-xl{
        max-width: 100%;
    }
    section .product .ajax-content .promo-code .link-up{
        font-size: 16px;
    }
    section .product .right-block{
        padding: 40px 15px;
    }
    section .product .left-block img {
        height: 85vw;
    }
    section .product h2{
        font-size: 11.375vw;
    }
    section .product p{
        font-size: 3.958vw;
    }
    section h1{
        font-size: 11.375vw;
    }
    section p{
        font-size: 3.958vw;
    }
    section .items .item a {
        height: calc((100vw - 64px) / 3);
    }
    section .container-xl{
        max-width: 100%;
    }
    section .col-12{
        padding-left: 12px;
        padding-right: 12px;
    }
}